{% extends "base.html" %}

{% set active_page = "about" %}

{% block content %}
<div class='bg'>
    <div class='container'>
        <h4>This fabulous content was brought to you by <a href="https://github.com/FabulousErin" >Erin</a>, <a href="https://github.com/kcwf3d" >Kali</a>, <a href="https://github.com/joelox87" >Joel</a>, and <a href="https://github.com/OnyNwosu" >Onuwa</a>.</h4>
    </div>

    <div class='space'></div>
<!-- <p align="center">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS_Gid5tfDDvXmCH57vGXARLzZrrJk0I5636J1JDAET2EuXGgJNLbt_X9nVDYlTSw/embed?start=false&loop=false&delayms=60000" frameborder="0" width="1920" height="1109" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</p> -->

    <img class= 'abtchart' src="static/data/Grain_Prices.png" height="600"> </img>
   
    <div class='space'></div>
    <div class='container'>
        <h4>Next Steps: </h4>
        <font size="+1"><p> Correlated soybean prices and see if we can predict future oil and meal prices based on the soybean price or vice versa.  </font></p>
    </div>
    <div class='container'>
        <a id="git_button" href="https://github.com/FabulousErin/Project_2">Click here to check out our GitHub for this
            project

        </a>
    </div>
    


</div>
{% endblock %}