{% extends "base.html" %}

{% block content %}

<main role="main" class="container">

  <div class="starter-template custom-bg" style="margin-bottom: 25px;">
    <h1>USDA Crop Data by State</h1>
    <p class="lead">
      <font size="+2"><b> Click on a state in the map to learn more about the crops produced in the state. The pie chart
          will
          show you the top 5 crops produced in the state by value from 2020. The bar chart will display the state's
          total
          area planted to field crops over the past 10 years. For the line chart you can choose from the drop down menu
          of
          the crops produced in the state to see its historical yield data.</font></b>
    </p>
  </div>
  <div class="row custom-bg" style="padding-left: 10px; padding-top: 10px;">
    <div id="mapid" class="column">
    </div>
    <div id=ChartCol class="column"
      style="padding-left: 15px; padding-bottom: 0px; padding-right: 10px; padding-top: 50px;">
      <canvas class="canchart" id="pieChart"></canvas>
    </div>

    <div class="row">
      <div class="column" style="padding-left: 55px; padding-bottom: 10px; padding-right: 0px; padding-top: 20px;">
        <canvas class="canchart" id="barChart"></canvas>
      </div>
      <div class="column" style="padding-left: 50px; padding-bottom: 10px; padding-right: 20px; padding-top: 20px;">
        <canvas class="canchart" id="lineGraph"></canvas>
      </div>
    </div>



  </div>
</main>
{% endblock %}