{% extends "base.html" %}

{% block content %}

<div class="starter-template">
  <h1>USDA Crop Data by State</h1>
  <p class="lead">
    <font size="2"> Click on a state in the map to learn more about the crops produced in the state. The pie chart will
      show you the top 5 crops produced in the state by value from 2020. The bar chart will display the state's total
      area planted to field crops over the past 10 years. For the line chart you can choose from the drop down menu of
      the crops produced in the state to see its historical yield data.</font>
  </p>
</div>
<div class="row">

  <div id="mapid"></div>

  <div class="row">
    <canvas id="pieChart"></canvas>
  </div>

  <div class="row">
    <canvas id="barChart"></canvas>
  </div>

  <div class="row">
    <canvas id="lineGraph"></canvas>
  </div>
  <select onchange="optChange(this.value);" name="crops" id="crops">
    <option value="CORN">Corn</option>
    <option value="SOYBEANS">Soybean</option>
    <option value="COTTON">Cotton</option>
    <option value="WHEAT">Wheat</option>
  </select>

</div>
{% endblock %}