{% extends "base.html" %}

{% set active_page = "prices" %}

{% block content %}
<div class='bg'>
    <div class='container'>

    </div>


    <div class='container'>
        <img class="chart" src="static/data/Corn Price Based on Previous Day.png"> </img>
        <img src="static/data/Corn Price Based on 5,10,20 Days.png"> </img>
        <img src="static/data/Corn Price Up-Down Based on Previous Day Up-Down.png"></img>
    </div>

    <div class='container'>
        <img src="static/data/Soybean Price Based on Previous Day.png"> </img>
        <img src="static/data/Soybean Price Based on 5,10,20 Days.png"> </img>
        <img src="static/data/Soybean Price Up-Down Based on Previous Day Up-Down.png"></img>
    </div>

    <div class='container'>
        <img src="static/data/Wheat Price Based on Previous Day.png"> </img>
        <img src="static/data/Wheat Price Based on 5,10,20 Days.png"> </img>
        <img src="static/data/Wheat Price Up-Down Based on Previous Day Up-Down.png"></img>
    </div class='container'>

    <div class='container'>
        <img src="static/data/Cotton Price Based on Previous Day.png"> </img>
        <img src="static/data/Cotton Price Based on 5,10,20 Days.png"> </img>
        <img src="static/data/Cotton Price Up-Down Based on Previous Day Up-Down.png"></img>
    </div>

    <div class='container'>
        <img src="static/data/Live Cattle Based on Previous Day.png"> </img>
        <img src="static/data/Live Cattle Based on 5,10,20 Days.png"> </img>
        <img src="static/data/Live Cattle Up-Down Based on Previous Day Up-Down.png"></img>
    </div>
 
</div>


{% endblock %}